.bottom-sheet--medianoche {
  --bottom-sheet-background-color: rgba(33, 0, 73, 1);
  --bottom-sheet-bg-overlay-background-color: rgba(189, 179, 179, 0.5);
}

.bottom-sheet--footer-margin-24 {
  margin: 0 24px 24px;
}
